body,
h1 {
    margin: 0;
    padding: 0;
    
}

h1{
    text-align: center;
    padding: 0.5rem;
    color: brown;
}

ul{
    list-style: none;
    border: 2px solid chocolate;
    margin: 1rem;
    padding-top: 0.5rem;
    background-color: #FAF5E8;
    

}

ul > li{
    color: chocolate;
}
